---
const { title, description, workPeriode, technologies } = Astro.props;
---

<div class="card my-4 rounded-md grid grid-cols-4 gap-4">
  <div class="text-gray-500 text-xs mt-1 font-semibold">{workPeriode}</div>
  <div class="col-span-3 flex flex-col gap-4">
    <div class="text text-white">{title}</div>
    <div>
      {
        Array.isArray(description) ? (
          description.map((desc: string) => (
            <li class="list-disc ml-2">{desc}</li>
          ))
        ) : (
          <p class="">{description}</p>
        )
      }
    </div>
    <div class="flex flex-wrap gap-2">
      {
        technologies.map((technology: string) => (
          <div
            class={`bg-opacity-15 rounded-full px-3 py-1 text-cyan-400 bg-cyan-500 text-sm`}
          >
            {technology}
          </div>
        ))
      }
    </div>
  </div>
</div>
